#map {
    height: 800px;
}

#inventaire {
    grid-row: 5; 
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: #d37ae5;
    color: azure;
    display: flex;
    align-items: center;
    height: 100px;
}

#entete {
    height: 50px;
    margin-bottom: 10px;
    background-color: rgb(59, 172, 248);
    display: flex;
}

#objets {
    width: 50px;
    height: 80px;
}

html {
    background-color: rgb(244, 243, 243);
  }

h1 {
    color: red; 
    font-size: 30px;
}

a {
    color:rgb(31, 184, 20);
}

p {
    color: rgb(31, 184, 20);
}

input {
    margin-left: auto;
}
